doctype html
html
  head
    title Project agathis by Abdusa
    link(rel="stylesheet", href="assets/css/style.css")
  
  body
    include modules/header.pug
    h1 Hello World!
    h2 Let's Doing some code!

    script(src="assets/js/main.js")
  